@import "tailwindcss";

@media (max-width: 640px) {
  .myscrollbar {
    scrollbar-width: thin;
    scrollbar-color: #1e1e1e #22222200;
    overflow-y: hidden;
  }
}

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.glass {
  position: relative;
  z-index: 0; /* Keep at 0 */
  border-radius: 50px;
}

.glass::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -2; /* Changed to -2 to go further behind */
  translate: 6px -4px;
  border-radius: 50px;
  background-color: rgba(0, 0, 0, 0.2); /* Subtle dark background */
  background-image: radial-gradient(
    circle farthest-side at right top,
    hsl(0, 0%, 100%) 0%,
    hsla(0, 0%, 0%, 0) 50% transparent 50%
  );
}

.glass::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -10000;
  translate: 6px -6px;
  border-radius: 50px;
  filter: blur(20px);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.09) 0%,
    rgba(255, 255, 255, 0.249) 100%
  );
}

html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0;
  background: transparent;
  border-radius: 5px;
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #171717;
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  border-radius: 5px;
}

.slide {
  overflow: hidden;
  position: relative;
  z-index: 0;
}

.slide::before {
  content: "";
  position: absolute;
  z-index: -10000;
  width: 150px;
  height: 50px;
  transform: translate(-98%, -60%);
  rotate: -45deg;
  display: inline-block;
  background: linear-gradient(
    90deg,
    transparent 0%,
    rgba(0, 0, 0, 0.09) 20%,
    rgba(255, 255, 255, 0.249) 80%,
    transparent 100%
  );
}

.slide:hover::before {
  animation: slide 1s ease-in-out forwards;
  animation-iteration-count: infinite;
}

@keyframes slide {
  0% {
    transform: translate(-98%, -60%) rotate(-45deg);
  }
  100% {
    transform: translate(75%, 60%) rotate(-45deg);
  }
}

.placeholder {
  position: absolute;
  left: 50px;
  transform: translateY(0%);
  color: rgba(255, 255, 255, 0.5);
  pointer-events: none;
  transition: color 0.3s, transform 0.3s, font-size 0.3s;
  font-size: 16px;
}

.inputText:focus + .placeholder,
.inputText:not(:placeholder-shown) + .placeholder {
  color: #ffffff;
  transform: translateY(-100%);
  background-color: #3a404b;
  padding: 2px 4px;
  border-radius: 4px;
  font-size: 12px;
}

.inputText:-webkit-autofill,
.inputText:-webkit-autofill:focus,
.inputText:-webkit-autofill:hover,
.inputText:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px rgba(42, 48, 59, 1) inset !important; /* 0.3 for 30% opacity */
  box-shadow: 0 0 0 1000px rgba(42, 48, 59, 1) inset !important;
  -webkit-text-fill-color: #ffffff !important;
  caret-color: #fff !important;
  transition: background-color 5000s ease-in-out 0s !important;
  background: transparent !important; /* Not always respected due to browser */
}

.inputText:autofill {
  background-color: transparent !important; /* For FF, not always respected */
  color: #fff !important;
}

.force-overflow {
  overflow-y: scroll !important;
}
